.users{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.userList{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
    padding-bottom: 20px;
}

.linkStyle {
    text-Decoration: none;
    color: white;
}

.form{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 600px;
    border-radius: 20px;
    padding: 30px;
    margin-left: 30%;
}

.input{
    width: 300px;
}
